[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
st-annotated-text = "*"
nltk = "*"
networkx = "*"
fastapi = "*"
pydantic = "*"
typing = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
